<template name="LeagueCodeGen">
  {{#if newLeagueCreated}}
    <div id="newLeagueEntryCode">
      <span>Your league "{{confirmedLeagueName}}" has been successfully created! Your first round will start on {{confirmedLeagueStartWeek}} at 11.40am (UK time).
        You can invite your friends by sending them the code below, or click the link to open a pre-formatted email with all the details.</span>
      <span>Your league entry code is: {{uniqueLeagueCode}}</span>
      <span>Click <a href="mailto:name1@mail.com,name2@mail.com?subject=You've%20been%20invited%20to%20play%20KillerPicks&amp;body=You've%20been%20invited%20by%20%7B%7BcurrentUserFullName%7D%7D%20to%20play%20KillerPicks%2C%20the%20free-to-play%20Premier%20League%20prediction%20game.%20%0A%0ATo%20join%2C%20visit%20www.xyz.com%20and%20enter%20your%20unique%20league%20entry%20code%3A%20%7B%7BuniqueEntryCode%7D%7D%0A">here</a> to email your friends</span>
    </div>
  {{else}}
    <div id="newLeagueConfirmText">
      <span>Your league will be created with as below</span>
      <ul>
        <li>League name: {{checkLeagueName}}</li>
        <li>Start date: {{checkStartDate}}</li>
        <li>Fee (per player): </li>
      </ul>
    </div>
  {{/if}}
</template>
