<template name="DetailedLeagueView">
  <div class="modal fade" id="leagueDetailModal{{leagueNameReplaced}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{leagueName}}</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li>Your league chairman is {{chairmanName}}</li>
          <li>You're on round {{round}}</li>
          {{#if leagueEntryFee}}
            <li>You agreed to an entry fee of £{{leagueEntryFee}}; the prize pool is currently £{{leaguePrizePool}}</li>
          {{/if}}
          <li>The first round of games for this league are played on {{leagueStarting}}</li>
          <li>Right up until 11.30am (UK time) of the league start date, you may invite people to join using this code: {{leagueEntryCode}}</li>
        </ul>
        <p>
          Your league table:
        </p>

        <div class="table-responsive">
          {{#if leaguePlayers}}
        <p>
          Alive players
        </p>
          <table class="table">
            <thead>
              <th>Name</th>
              <th>Lives</th>
              <th>Choice</th>
            </thead>
            <tbody>
              {{#each leaguePlayers}}
                {{> LeaguePlayersTable}}
              {{/each}}
            </tbody>
          </table>
          {{/if}}
          {{#if deadPlayers}}
            <p>
              Dead players
            </p>
            <table class="table">
              <thead>
                <th>Name</th>
                <th>Died in round</th>
              </thead>
              <tbody>
                {{#each deadPlayers}}
                  {{> DeadPlayersTable}}
                {{/each}}
              </tbody>
            </table>
          {{/if}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</template>
