<template name="InputReality">

  <form id="inputReality">
    <div id="weeksDiv">
      {{> Gameweeks}}
    </div>
    {{#each numberOfGames}}
      <p>Game {{.}}</p>
      <span>Home</span>
      <select id="home{{.}}" class="home">
        <option>Pick</option>
        {{#each teams}}
          <option value={{.}}>{{.}}</option>
        {{/each}}
      </select>
      <span>Away</span>
      <select id="away{{.}}" class="away">
        <option>Pick</option>
        {{#each teams}}
          <option value={{.}}>{{.}}</option>
        {{/each}}
      </select>
      <input type="date" id="gameDate{{.}}">
      <input type="time" id="gameTime{{.}}">
    {{/each}}
    <input type="submit" name="some_name" value="Submit">
  </form>
  <br>
  <div style="border : 1px solid black">
    <button id="disableChoice">Disable choice</button>
    <button id="enableChoice">Enable choice</button>
  </div>
</template>
