<template name="BasicGameInfo">
  <div id="basicGameInfo">
    <p>
      Simple rules:
    </p>
    <ul>
      <li>Create free leagues with your friends and colleagues</li>
      <li>Predict one Premier League winner every week</li>
      <li>Beat your friends, win glory (possibly money too)</li>
    </ul>
    <p>
      In more detail...
    </p>
    <ul>
      <li>Create a league, invite your friends, family, colleagues, etc. If you like, set an entry fee so there's a prize pool for the winner</li>
      <li>Players start with three lives</li>
      <li>Every week, you pick a Premier League team you think will win</li>
      <li>Once you've picked a team, you can't pick them again</li>
      <li>If your team wins, great! If they lose or draw, you lose a life. When you've lost all of your lives, you're out of the league</li>
      <li>Last one standing wins great fame and glory, and pockets the prize pool (if there is one)</li>
    </ul>
    <p>
      Create a free account, or click <a href="#" data-toggle="modal" data-target="#fullRulesModal">here</a> for more details on how the game works
    </p>
  </div>
</template>
