<template name="BasicGameInfo">
  <div id="basicGameInfo">
    <p>
      <b>Welcome to Killer - a free Premier League predictions game.</b>
    </p>
    <p>
      The rules of Killer are simple: create a league with your friends, then battle it out to see who's best at picking winners. (If you're gambling types, you can set a league fee so there's a prize pool; most people go with £5 per player.)
    </p>
    <ul>
      <li>Everyone starts with three lives</li>
      <li>Every week, you pick a Premier League team you think will win</li>
      <li>Once you've picked a team, you can't pick them again</li>
      <li>If your team wins, great! If they lose or draw, you lose a life. When you've lost all of your lives, you're out of the game</li>
      <li>Last one standing wins great fame and glory, and pockets the prize pool (if there is one)</li>
    </ul>
    <p>
      Create a free account below, or click <a href="#" data-toggle="modal" data-target="#fullRulesModal">here</a> for more details on how the game works
    </p>
    <p style="color:orange">
      PLEASE NOTE: during August, Killer is in BETA. This means that some things might not work perfectly, and you can expect constant improvements to how it looks (you may have noticed it's quite basic at the moment). This is the first month of my first ever web app - things can only get better...
    </p>
    <p>
      As well as your patience with this, I'd hugely appreciate your feedback: please send your gripes, grouses, and even gratitude to <a href="mailto:chairman@killer.football?subject=Feedback" target="newtab">chairman@killer.football</a>
    </p>
  </div>
</template>
