/*****************************************************************************/
/* BasicGameInfo: Style */
/*****************************************************************************/
.basic-game_info {
}

#basicGameInfo {
  width: 70%;
  text-align: left;
  margin: 0 auto;
  font-size: 1.4em;
}
