/*****************************************************************************/
/* BasicGameInfo: Style */
/*****************************************************************************/
.basic-game_info {
}

#basicGameInfo {
  text-align: left;
  font-size: 1.4em;
  position: relative;
  height: 270px;
  /*margin-left: auto;
  margin-right: auto;*/
  float: none;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
