<template name="LeagueCodeGen">
  {{#if newLeagueCreated}}
    <div id="newLeagueEntryCode">
      <p>Your league "{{confirmedLeagueName}}" has been successfully created!</p>
      <ul>
        <li><b>Your first round of fixtures starts on {{confirmedLeagueStartWeek}},</b> so you must make your first pick before 11.40am (UK time) on that day, or you will get a random pick. But remember to invite your friends early so they have time to pick as well</li>
        {{#if confirmedEntryFee}}
          <li><b>You have set a league entry fee of £{{confirmedEntryFee}}.</b> For now, we take no responsibility for collecting/administering this, but players will have to confirm they will pay the league fee before joining (to avoid disagreements down the line!)</li>
        {{/if}}
      </ul>
      <br>
      <p>You can invite your friends by sending them the code below (we'll have a form where you can send an automatic email to them soon).</p>
      <p><b>League entry code:</b> {{uniqueLeagueCode}}</p>
    </div>
  {{/if}}
</template>
