/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
.home {
}
#homeWrapper{
  text-align: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#login-screen .dropdown-menu {
  position: relative;
  height: 270px;
  /*margin-left: auto;
  margin-right: auto;*/
  float: none;
  width: 180px;
  display: inline-block;
  vertical-align: top;
}

#logRegButtons {
  vertical-align: top;
  display: inline-block;
  width: 25%;
}


#login-screen #login-dropdown-list {
  display: block;
}

#login-screen a.dropdown-toggle {
  display: none;
}

#disclaimerText {
  display: inline-block;
}
