<template name="JoinLeague">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg navbar-btn" data-toggle="modal" data-target="#joinLeagueModal">
    Join a league
  </button>

  <!-- Modal -->
  <div class="modal fade" id="joinLeagueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="joinLeagueLabel">Join a league</h4>
        </div>
        {{#unless leagueJustJoined}}
          <div class="modal-body">
            <form id="enterLeagueForm" action="index.html" method="post">
              <label for="enterLeagueCode">Paste the code you've been sent: </label>
              <input type="text" name="enterLeagueForm" placeholder="Code goes here">
              <div>
                <span id="errorMessage" style="color:red"></span>

                {{#if confirmationNeeded}}
                  <p>
                    <ul>
                      <li>The league you are joining is called "{{leagueJoinName}}"</li>
                      <li>Your first round of fixtures starts on {{leagueJoinStartDate}} so you must make your first pick before 11.40am (UK time) on that day, or you will get a random pick</li>
                    </ul>
                  </p>
                  {{#if extraFeeConfirmation}}
                    <p>Your Chairman has set a fee of £{{fee}} for this league. This means that there will be a prize pool for the league, but you cannot join without ticking the box below to confirm that you will pay up! Your Chairman will contact you to collect the fee.</p>
                    <p>NOTE: For now, Killer takes no responsibility for collecting fees or administering prizes. This is just between you and your friends.</p>

                    {{#if doubleConfirm}}
                      <p style="color:red">
                        You must confirm the entry fee to join this league. If you have an issue with the fee, please contact the person who sent you the league entry code.
                      </p>
                    {{/if}}
                  <label for="feeCheck">Tick the box to agree to pay £{{fee}} into the prize pool</label>
                  <input type="checkbox" name="feeCheck">
                  {{/if}}
                    Hit confirm to enter the league.
                {{/if}}
              </div>
            </form>
          </div>
        {{else}}
          {{> LeagueEntrySuccess}}
        {{/unless}}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {{#unless leagueJustJoined}}
            {{#if confirmationNeeded}}
              <button type="button" id="confirmLeagueButton" class="btn btn-primary">Confirm</button>
              {{else}}
              <button type="button" id="joinLeagueButton" class="btn btn-primary">Join league</button>
            {{/if}}
          {{/unless}}
        </div>
      </div>
    </div>
  </div>
</template>
