<template name="JoinLeague">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#joinLeagueModal">
    Join a league
  </button>

  <!-- Modal -->
  <div class="modal fade" id="joinLeagueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="joinLeagueLabel">Join a league</h4>
        </div>
        <div class="modal-body">
          <form id="enterLeagueForm" action="index.html" method="post">
            <label for="enterLeagueCode">Paste the code you've been sent: </label>
            <input type="text" name="enterLeagueForm" placeholder="Code goes here">
          </form>
        </div>
        <div id="leagueEntrySuccess">
          <span>Congratulations! You've successfully entered "{{leagueName}}"</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" id="joinLeagueButton" class="btn btn-primary">Join league</button>
        </div>
      </div>
    </div>
  </div>
</template>
