<template name="CreateLeague">

    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createLeagueBtn">
  Create league
  </button>

  <!-- Modal -->
  <div class="modal fade" id="createLeagueBtn" tabindex="-1" role="dialog" aria-labelledby="createLeague">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createLeagueLabel">Create a new league</h4>
        </div>
        <div class="modal-body">
          <form id="createLeagueForm" action="">
            <label for="newLeagueName">League name: </label>
            <input type="text" id="newLeagueName" name="newLeagueName" placeholder="Give your league a name">
            <label for="weeksDropDown">Pick a start date</label>
            {{> Gameweeks}}
            <br>
            <span>If you would like to have a prize pool, set the fee below. Otherwise leave it blank. For more information about fees and prize pools, click here</span>
            <br>
            <label for="newLeagueFee">League entry fee: £</label>
            <input type="number" name="newLeagueFee" placeholder="Enter a digit">
          </form>
          {{> LeagueCodeGen}}

        </div>

        {{> LeagueCodeGen}}

        <div class="modal-footer">
          {{> CreateLeagueButtons}}
        </div>
      </div>
    </div>
  </div>


</template>
