/*****************************************************************************/
/* CurrentGames: Style */
/*****************************************************************************/
.current-games {
  margin: 0 auto;
}

#fixturesHeading {
  text-align: center;
}

h3 {
  text-align: center;
}
