
<template name="LeaguesView">
  <p>
    If you haven't already, you can make your picks using the QuickPick column on the right. NOTE: (for now) your week's picks are final, so you can't change your mind. For a more detailed view, click/tap the name of each league. 
  </p>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>League</th>
          <th>Next pick</th>
          <th>Lives</th>
          <th>Round</th>
          <th>Players</th>
          <th>QuickPick</th>
        </tr>
      </thead>
      <tbody>
        {{#each playerLeagues}}
          {{> LeaguesViewRow}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
