
<template name="LeaguesView">
  <table>
    <tr>
      <th>League Name</th>
      <th>Lives left</th>
      <th>Round</th>
      <th>Players remaining</th>
      <th>Your remaining picks</th>
    </tr>
    <tr>
      <td>{{leagueName}}</td>
      <td>{{livesLeft}}</td>
      <td>{{round}}</td>
      <td>{{playersLeft.length}} / {{playersStarted.length}}</td>
      <td>{{> TeamsLeftDropDown}}</td>
    </tr>

  </table>
</template>


<!-- <template name="leaguesList">
  <ul>
    <li>{{leagueName}}
      <ul>
        <li>{{livesLeft}}</li>
        <li>{{round}}</li>
        <li>{{playersLeft.length}} / {{playersStarted.length}}</li>
        <li>Teams Remaining:
          <select>
            {{#each teamsLeft}}
              {{> teamsLeft}}
            {{/each}}
          </select>
          <input type="button" value="submit">
        </li>
      </ul>
    </li>
  </ul>
</template> -->
