/*****************************************************************************/
/* LeaguesViewRow: Style */
/*****************************************************************************/
.leagues-view_row {
}

.leagueNameButton {
  width: 20ch;
}

td {
  text-align: center;
}

th {
  text-align: center;
}
